.block-category-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  row-gap: 5px;
}

.block-category-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 1.1rem;
}
