.sortable-block-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;

  &.is-active .block-card {
    background-color: rgba(34, 137, 201, 0.7);

    .block-card-content {
      font-weight: 700;
    }
  }
}

.drag-handle-container {
  width: 30px;
  cursor: grab;
  background: none;
  border: none;
  outline: none;

  .block-card {
    cursor: grab;

    .block-card-content {
      padding: 2px !important;
      width: fit-content;
    }
  }
}
