@mixin scroll-enabled() {
  height: 100%;
  overflow-y: auto;
}

#forge-root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 15px;
  flex-grow: 1;
}

.forge-area {
  display: flex;
  width: 100%;
  align-items: stretch;
  justify-content: space-between;
  column-gap: 15px;

  @include scroll-enabled();
}

.blocks-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
  min-width: 250px;

  padding-right: 5px;

  @include scroll-enabled();

  .used-blocks,
  .available-blocks {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    row-gap: 10px;
  }
}

.markdown-editor {
  width: 100%;
  @include scroll-enabled();
}

.markdown-preview {
  width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  white-space: normal;
  @include scroll-enabled();
}

.select-block-screen {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}

.select-block-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  img {
    width: 40%;
    max-width: 100%;
    height: auto;
  }
}

.select-block-text {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .select-block-image {
    img {
      width: 50%;
    }
  }

  .select-block-text {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 380px) {
  .select-block-image {
    img {
      width: 80%;
    }
  }

  .select-block-text {
    font-size: 1.2rem;
  }
}
